html {
	font-family: 'Inconsolata', monospace;
}

body {

  	overflow: hidden;
  	display: flex;
	flex-direction: column;
	justify-content: center;
}

#background {
	background-repeat: no-repeat;
  	background-size: cover;
  	width: 100vw;
  	height: 100vh;
}

a {
	text-decoration: none;
	color: #000;

}

.container {
	background-color: #F1F0E2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #000;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	height: auto;
	z-index: 9999;
}

.innerContainer {
	padding: 2em;
}

.header {
	display: grid;
  	grid-template-columns: repeat(12, 1fr);
	font-weight: 400;
	width: 100%;
}

.grid-6 {
	grid-column: span 6;
	text-align: center;	
	margin: 0;
	padding: 0;
}

.grid-3 {
	grid-column: span 3;
	text-align: center;	
	margin: 0;
	padding: 0;
}

.header p {
	margin: 0;
	padding: 0;
}

.timeHeader {

}

.listContainer ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    text-align: center;
}

.listContainer li:first-child {
	color: #00B694;
}

.listContainer {
	display: grid;
  	grid-template-columns: repeat(12, 1fr);
    padding: 2em 0 1em;
}

.temp {
	color: #000;
	text-decoration: none;
}

.temp:active {
	text-decoration: none;
}